# Xcode

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Build generated
[Bb]uild*
DerivedData
.index-build

# macOS
.DS_Store
.AppleDouble
.LSOverride

#Internal
Internal/
.gitmodules

#Swift Package Manager
.swiftpm
Package.resolved

# CI temp files
TempProject/
.build
.vscode
.tmp

# Configuration files with secrets
Demo/Secrets.*.xcconfig

# AI assistant configurations
/.claude
/.cascade-rules.md
/.gemini
/.windsurf
/openspec
.factory
