--disable blankLinesAtStartOfScope,blankLinesAtEndOfScope,unusedArguments,redundantSelf,wrapMultilineStatementBraces,extensionAccessControl,redundantClosure
--swiftversion "5.2"
--commas inline
--ranges nospace
--trimwhitespace nonblank-lines
--decimalgrouping none
