--disable blankLinesAtStartOfScope,blankLinesAtEndOfScope,unusedArguments,redundantSelf,wrapMultilineStatementBraces,extensionAccessControl,redundantClosure,redundantInternal
--swiftversion "5.7"
--commas inline
--ranges nospace
--trimwhitespace nonblank-lines
--decimalgrouping none
