// Secrets.template.xcconfig
// Copy this file to Secrets.test.xcconfig and fill in your values
// Secrets.test.xcconfig will be ignored by git

// Adyen API related keys
ADYEN_CLIENT_KEY = YOUR_CLIENT_KEY
ADYEN_MERCHANT_ACCOUNT = YOUR_MERCHANT_ACCOUNT

// Apple Pay related identifiers
APPLE_TEAM_IDENTIFIER = YOUR_APPLE_DEVELOPMENT_TEAM_ID
APPLE_PAY_MERCHANT_IDENTIFIER = YOUR_APPLE_PAY_MERCHANT_IDENTIFIER
