// Secrets.template.xcconfig
// Copy this file to Secrets.test.xcconfig and fill in your values
// Secrets.test.xcconfig will be ignored by git


// Adyen API related keys
MERCHANT_CLIENT_KEY = YOUR_CLIENT_KEY
MERCHANT_SERVER_URL = YOUR_SERVER_URL
MERCHANT_ACCOUNT = YOUR_MERCHANT_ACCOUNT
ADYEN_SERVER_API_KEY = YOUR_ADYEN_SERVER_API_KEY


// Apple Pay related identifiers
APPLE_TEAM_IDENTIFIER = YOUR_APPLE_DEVELOPMENT_TEAM_ID
APPLE_PAY_MERCHANT_IDENTIFIER = YOUR_APPLE_PAY_MERCHANT_IDENTIFIER
