name: Compatibility Test

on:
  push:
    branches:
    - master
    - develop
    - release-*
    
jobs:
  tests:
    runs-on: macos-12
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        include:
        - destination: 'name=iPhone 11 Pro'
          scheme: AdyenUIHost
        - destination: 'OS=11.4,name=iPhone-6'
          scheme: AdyenUIHost
        - destination: 'OS=12.4,name=iPhone-X'
          scheme: AdyenUIKitTests
        - destination: 'OS=13.7,name=iPhone 8'
          scheme: AdyenUIHost
    steps:
    - uses: actions/checkout@v4
    - uses: n1hility/cancel-previous-runs@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Prepare custom devices
      run: |
        sudo mkdir -p /Library/Developer/CoreSimulator/Profiles/Runtimes

    - name: Prepare iOS 11.4 simulator
      if: contains(matrix.destination, 'OS=11.4')
      run: |
        xcversion simulators --install='iOS 11.4'
        xcrun simctl create iPhone-6 "iPhone 6" "com.apple.CoreSimulator.SimRuntime.iOS-11-4"
        xcrun simctl list devices 11.4

    - name: Prepare iOS 12.4 simulator
      if: contains(matrix.destination, 'OS=12.4')
      run: |
        xcversion simulators --install='iOS 12.4'
        xcrun simctl create iPhone-X "iPhone X" "com.apple.CoreSimulator.SimRuntime.iOS-12-4"
        xcrun simctl list devices 12.4

    - name: Prepare iOS 13.7 simulator
      if: contains(matrix.destination, 'OS=13.7')
      run: |
        xcversion simulators --install='iOS 13.7'
        xcrun simctl create iPhone-6 "iPhone X" "com.apple.CoreSimulator.SimRuntime.iOS-13-7"
        xcrun simctl list devices 13.7

    - name: Build and test
      run: |
        xcodebuild build test -project ${project} -scheme "${scheme}" -destination "${destination}" | xcpretty --utf --color && exit ${PIPESTATUS[0]}
      env:
        project: 'Adyen.xcodeproj'
        scheme: ${{ matrix.scheme }}
        destination: ${{ matrix.destination }}
