name: Spell check

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:

  setup:
    runs-on: macos-12
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: n1hility/cancel-previous-runs@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Spell check
      run: |
        brew install mint
        Scripts/spell_check.sh
      env:
        target_branch: ${{ github.event.pull_request.base.ref }}
