name: Test Carthage Integration

on:
  pull_request:
    types: [opened, synchronize, reopened]
  
  push:
    branches:
    - master
    - develop

jobs:

  carthage:
    runs-on: macos-12
    steps:
    - uses: actions/checkout@v3
    - uses: n1hility/cancel-previous-runs@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Select latest Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable

    - name: Resolve dependencies
      run: |
        brew update
        brew install xcodegen
        brew upgrade carthage

    - name: Test Carthage Integration
      env:
        GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        carthage version
        Scripts/test-carthage-integration.sh
