name: Test Cocoapods Integration

on:
  pull_request:
    types: [opened, synchronize, reopened]

  push:
    branches:
    - master
    - develop

jobs:

  pods:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - uses: n1hility/cancel-previous-runs@v2
      with:
        token: ${{ secrets.MANUAL_ACTION_TOKEN }}

    - name: Select latest Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable

    - name: Resolve dependencies
      run: |
        brew update
        brew install xcodegen
        gem install cocoapods

    - name: Test Cocoapods Integration
      run: |
        pod lib lint Adyen.podspec --allow-warnings
        Scripts/test-CocoaPods-integration.sh
